@import "../../baseScss/base";

#signin-form {
  max-width: 50%;
  margin: auto;
}
label {
  color: white;
}
.btn-primary {
  background-color: $dark;
  border-color: grey;
  &:hover {
    @extend %pink-neon-border;
    background-color: $dark;
    border-color: white;
    @extend %pink-neon-text;
  }
}

@keyframes neon-flicker {
  0% {
    background-color: red;
  }
  25% {
    background-color: yellow;
  }
  50% {
    background-color: blue;
  }
  100% {
    background-color: green;
  }
}
