@import '../../baseScss/base';

#chat-form{
    max-width: 200px;
}

#sent-messages{
    overflow: auto;
    height: 3rem;
    background-color: $dark;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: white 1px solid;
    height: 12rem;
    overflow-wrap: break-word;
}

#message-input{
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    // width: 100%;
}