@import "../../baseScss/base";

nav {
  margin-top: 4px;
  @extend %pink-neon-border;
}

.nav-link {
  color: white !important;
  &:hover{
    @extend %pink-neon-text;
  }
}

.navbar-brand {
  color: white !important;
  &:hover{
    @extend %pink-neon-text;
  }
}
